aside{
    grid-area: a;
    background-color: blue;
  }
  aside ul{
    list-style-type: none;
  }
  aside ul li a{
    color: antiquewhite;
    text-decoration: none;
    font-size: 1.5rem;
  }
  aside *+*{
    margin-top: 1em;
  }
  .active{
    color: black;
    font-size: 1.7rem;
  }