header {
    grid-area: h;
    background-color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.link {
    float: right;
    color: aliceblue;
    margin: 2em;
    font-size: x-large;
}

.login {
    text-align: center;
    font-size: xx-large;
    margin-top: 2em;
}